@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #e8ecf2;
  --card-bg: #ffffff;
  --primary: #012a3d;
  --text: #000000;
}

html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-bg text-text font-poppins;
}
